body {
  padding-top: 20px;
}

#area {
  display: flex;
  flex-wrap: wrap;
  max-width: 625px;
  margin: 0 auto;
  font-size: 0;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: 0.5s easy;
  user-select: none;
}

span:active {
  transform: scale(0.93);
}

span:hover {
  opacity: 0.8;
}

.controls {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  align-content: center;
  align-items: center;
}

button {
  display: inline-block;
  cursor: pointer;
}
